# gradle

.gradle/
build/
out/
classes/
logs/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# Development

src/main/java/carpetfixes/mixins/development/

# Testing Classes
testserver/
src/main/java/carpetfixes/testing/testing.java